html,
body {
  margin: 0;
  padding: 0;
}

.page {
  user-select: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gWin {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.mainMenu {
  width: 50%;
  height: 70%;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.mainMenuItem {
  flex: 1;
}
.mainMenuItem:hover {
  color: blue;
}

.hideMM {
  transition: 0.5s;
  /* transform: translateX(-200%); */
  opacity: 0;
}
